.bg-container {
  background-color: aqua;
  min-height: 100vh;
  background-size: cover;
}

.navi {
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}

.navi1 {
  width: 100%;
  background-color: #333333;
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}

.center {
  display: flex;
  width: 15%;

  justify-content: space-between;
}

.pehla {
  width: 30%;
}
